@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

p,ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

button{
    border: none;
}

input{
    outline: none;
}